<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %>-zone</h1>
    <p>Welcome to <%= title %>s fabulous group page</p>
      <img src="./images/pandamonium.png" />

  </body>
</html>
