<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 id="title"><%= title %>-zone</h1>
    <p id="text"> <%= text %></p>

      
        <img id="groupimg" src="./images/pandamonium.png" />


  </body>
</html>
