<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %>-zone</h1>
    <p> You said:</p>
    <p> <%= input %></p>
    <p> I say:</p>
    <p> <%= output %></p>

  </body>
</html>
